### This notebook can be used to webscrape data from a spreadsheet with a list of addresses on it. 
#### Built with Selenium and BeautifulSoup webscraping. The original notebook was a lot more messy so there MAY be some bugs in this. Feel free to mess around with it/make things more efficient if you can. 

##### Since I transferred from one notebook file to another, there are bugs/lines which may be out of context. 
1. Import modules, data, create dataframe, add zillow links to the spreadsheet.

In [3]:
import random
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.support import expected_conditions as EC
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import os
import pyautogui as pg 
from selenium.webdriver.support.ui import WebDriverWait
import os.path
import time
from selenium.webdriver.support.ui import WebDriverWait

In [4]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
data = pd.read_excel("Finished Dem Contacts (2).xlsx")
addresses = data["Address Line 1"].values.tolist()
zillowLinks=[]

In [5]:
def findZillowURL(drvier, address):
    driver.get("https://www.zillow.com/how-much-is-my-home-worth/")
    input_field = '//*[@id="property-search"]'
    try:
        driver.find_element_by_xpath(input_field).send_keys(address+Keys.DOWN)
        button_xpath = '//*[@id="address-search"]/div/label/button'
        driver.find_element_by_xpath(button_xpath).click()
        sleep_time = random.randint(6,10)
        time.sleep(sleep_time)
        url = driver.current_url
        return url
    except:
        return "No URL"

In [21]:
print(len(zillowLinks))
data["Zillow Links"] = pd.Series(zillowLinks)
#Now, the data is appended to the dataframe.

832

In [ ]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--disable-extensions")
#chrome_options.add_argument("--headless")
driver = webdriver.Chrome("/Users/khusht/Desktop/DataSci/chromedriver", options = chrome_options) #You'll need a browser driver. # 
#Link to driver: https://chromedriver.chromium.org/downloads
i=0

for i in range(0,len(addresses)):
    address=addresses[i]
    link = (findZillowURL(driver,address))
    print(link)
    if("captcha" in link):
        print("Captcha on "+str(i))
        print(str(addresses[i]))
        break
    zillowLinks.append(link)
    i = i+1

#Note that you may encounter issues with a Captcha when scraping from Zillow. 
#I had to solve this manually (solved about 15 captchas for 800+ addresses, might not be the most efficient). 
#What I did was I kept this running in the background, and wherever the data seemed off (in my case it was a spam of NO URLS)
#I deleted the data which seemed incorrect, checked out zillow on the automated browser, solved the captchas, and let it run again from the index I deleted it at.

2. Use the dataframe to go to each Zillow link, and add the cost of the house.

In [7]:
#I appended the zillow links to a spreadsheet so that they were spread, and read the links again from that spreadsheet. 
data = pd.read_excel("FinishedDemContactsAddress.xlsx")
zillowLinks = data["Zillow Links"].values.tolist()
homeCosts=[]

In [24]:
def getValue(driver, zillowLink):
    driver.get(zillowLink)
    # Give the javascript time to render
    sleep_time = random.randint(6,10)
    time.sleep(sleep_time)
    # Now we have the page, let BeautifulSoup do the rest!
    try:
        soup = BeautifulSoup(driver.page_source)
        mydivs = soup.find("div", {"class": "value"})
        return mydivs.text
    except:
        return "$0"

In [47]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--disable-extensions")
#chrome_options.add_argument("--headless")
driver = webdriver.Chrome("/Users/khusht/Desktop/DataSci/chromedriver", options = chrome_options) #Again, replace driver where needed

for i in range(0, len(zillowLinks)-1): #Might have to be just len(zillowLinks), i forget
    zillowLink = zillowLinks[i]
    cost = "$0"
    if(zillowLink=="No URL" or zillowLink=="https://www.zillow.com/how-much-is-my-home-worth/"):
        print(cost)
        homeCosts.append(cost)
        continue
    cost = getValue(driver, zillowLink)
    homeCosts.append(cost)
    print(cost)
#Same case applies here with Captcha. When the data starts going bad (a spam of 0$), delete from the index where the 
#spam started, and restart loop again at the index you deleted from after solving captcha if needed.

$303,381
$273,424
$308,593
$319,652
$0
$286,143
$287,467
$340,702
$269,915
$0
$0
$274,182
$0
$457,407
$457,407
$245,844
$245,844
$0
$253,050
$253,050
$218,914
$0
$0
$0
$190,176
$221,084
$225,437
$203,777
$202,900
$0
$0
$0
$0
$0
$418,673
$0
$0
$211,064
$0
$0
$0
$375,771
$213,173
$777,976
$0
$363,300
$622,090
$0
$0
$0
$636,268
$0
$428,810
$0
$0
$259,535
$248,177
$248,177
$0
$479,781
$0
$227,604
$158,567
$0
$0
$242,954
$225,435
$224,444
$0
$0
$258,261
$0
$0
$99,834
$202,235
$276,522
$0
$0
$313,322
$0
$0
$191,463
$239,687
$0
$227,903
$0
$241,416
$0
$192,841
$359,358
$344,611
$0
$241,727
$276,353
$0
$393,866
$0
$544,778
$0
$0
$0
$508,241
$455,124
$739,216
$978,786
$362,003
$0
$370,357
$754,203
$330,093
$0
$0
$0
$0
N/A
$181,498
$364,542
$0
$186,521
$0
$281,599
$272,934
$229,973
$0
$0
$304,936
$497,497
$0
$370,859
$43,554
$445,398
$436,768
$267,436
$436,664
$0
$296,911
$0
$0
$207,240
$0
$713,833
$0
$280,134
$713,833
$0
$0
$0
$424,199
$362,640
$0
$0
$0
$443,638
$274,826
$0
$0
$0
$0
$0
$89,327
N/A
$0
$0

In [48]:
print(len(homeCosts))
data["Home Costs"] = pd.Series(homeCosts)
data.to_excel("FinishedDemContactsAddressWithCosts.xlsx")

831

In [9]:
data.head()

,Unnamed: 0,Mail/Person/Election Day,First Name,Last Name,Email,Phone,M/H,Address Line 1,Address Line 2,City,State,Zip,Unnamed: 11,Zillow Links
0,0,NaN,Tammy,Cureton,tammymcgill45@yahoo.com,704-635-4197,M,NaN,NaN,NaN,NaN,NaN,NaN,No URL
1,1,P,Nathan,Hudson,NaN,704-796-992,NaN,2401 Castleberry Ct.,Apt C,Monroe,NC,28110,NaN,https://www.zillow.com/how-much-is-my-home-worth/
2,2,M,Ronnie,White,ronniewhite218g.com ?,704-835-3621,M,2655 Nelda Dr,Apt K,Monroe,NC,28110,NaN,https://www.zillow.com/how-much-is-my-home-wor...
3,3,P,Arthur,Lewis,arty1944@gmail.com,NaN,NaN,2675 Nelda Dr,Apt E,Monroe,NC,28110,NaN,https://www.zillow.com/how-much-is-my-home-worth/
4,4,P,Helena,Faulkner,NaN,704-289-2828,NaN,2318 Roland Dr.,NaN,Monroe,NC,28110,NaN,https://www.zillow.com/how-much-is-my-home-wor...

In [52]:
#Last one
lastCost = getValue(driver, zillowLinks[831])
lastCost

'$450,278'

In [55]:
homeCosts.append(lastCost)

In [ ]:
print(len(homeCosts))
data["Home Costs"] = pd.Series(homeCosts)
data.to_excel("FinishedDemContactsAddressWithCosts.xlsx")  
data

In [69]:
homeCosts_copy = homeCosts.copy()

In [80]:
#Have to get rid of commas, dollar values, and N/As to convert everything to an  int to compare
i =0
for homeCost in homeCosts_copy:
    if(homeCosts_copy[i]=="N/A"):
        homeCosts_copy[i] = "0"
    i = i+1
print(homeCosts_copy)

[450278, 0, 0, 0, 170434, 360655, 335529, 335529, 340624, 340892, 330247, 351785, 330176, 295885, 262678, 262678, 281348, 281348, 253724, 253724, 302287, 0, 276182, 220407, 211951, 221038, 221789, 0, 0, 260101, 260170, 298575, 209024, 231243, 0, 192787, 265248, 210785, 191688, 230747, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 452789, 438342, 265511, 211151, 220257, 0, 0, 212077, 324773, 359891, 365060, 418006, 0, 327248, 0, 737944, 0, 651730, 0, 600188, 0, 0, 0, 189356, 277439, 0, 274826, 298334, 0, 289820, 283710, 176556, 0, 0, 0, 0, 0, 429467, 286780, 300796, 0, 0, 0, 0, 0, 147490, 329472, 331785, 338306, 361130, 0, 677719, 400963, 309279, 439085, 300732, 0, 437322, 481908, 0, 226209, 174893, 180562, 711875, 701551, 472838, 477386, 530600, 525829, 525829, 520534, 0, 0, 0, 0, 0, 438317, 499065, 322256, 0, 0, 0, 364315, 0, 0, 383809, 0, 637108, 637108, 0, 426895, 437431, 427714, 494779, 442795, 0, 0, 507445, 428361, 428361, 0, 0, 357717, 364666, 424038, 385902, 387970, 431079, 421126, 355403, 0, 0, 767300, 0, 0, 0, 341671, 0, 446393, 382204, 752730, 376674, 325872, 325872, 0, 363520, 0, 408646, 350470, 243851, 0, 0, 0, 368856, 0, 920119, 0, 527640, 500508, 229742, 587318, 0, 629980, 0, 267188, 372330, 0, 0, 370357, 0, 0, 447648, 868447, 0, 327632, 337981, 282812, 363257, 226070, 330062, 330504, 221598, 260253, 0, 0, 0, 0, 0, 0, 181928, 0, 0, 191690, 0, 200657, 0, 192569, 0, 0, 0, 166849, 0, 0, 133164, 369683, 0, 0, 0, 0, 0, 0, 0, 0, 0, 492225, 0, 0, 0, 0, 0, 258503, 0, 0, 0, 0, 0, 0, 139740, 105776, 299378, 328071, 0, 179069, 0, 0, 0, 353120, 0, 649010, 417134, 920119, 0, 0, 0, 0, 186099, 0, 280490, 289500, 0, 590666, 452943, 353797, 429010, 504579, 243762, 639630, 327271, 0, 0, 0, 357801, 0, 937585, 0, 0, 0, 377445, 181591, 174321, 96813, 152995, 181822, 0, 347311, 0, 801541, 502269, 564529, 522999, 502007, 533123, 0, 0, 0, 593491, 273298, 262930, 262930, 355348, 0, 0, 0, 329355, 0, 0, 174527, 170793, 225307, 297488, 0, 0, 736752, 473394, 473192, 649010, 898223, 426980, 0, 284442, 360179, 353729, 0, 360675, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 253050, 285381, 0, 227504, 0, 372230, 0, 0, 0, 0, 0, 287947, 229755, 234585, 0, 0, 198695, 0, 231323, 213868, 0, 0, 0, 0, 0, 191394, 202473, 197085, 271020, 0, 337650, 276551, 0, 295157, 364116, 364116, 0, 0, 366528, 322794, 0, 0, 136709, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 393982, 286420, 311368, 0, 0, 0, 0, 0, 0, 0, 106368, 113468, 0, 0, 0, 0, 0, 0, 0, 0, 366436, 0, 390378, 0, 0, 493186, 0, 0, 299656, 309999, 373517, 367716, 390925, 0, 0, 177404, 108203, 170798, 0, 173841, 0, 0, 262930, 371676, 410436, 484606, 0, 0, 0, 121303, 0, 0, 389509, 297841, 383803, 132796, 0, 0, 0, 299522, 0, 0, 0, 294642, 103402, 0, 190546, 152788, 232307, 240018, 0, 0, 311185, 0, 0, 328607, 0, 0, 0, 0, 0, 0, 1135160, 450975, 588154, 707105, 0, 0, 0, 0, 300796, 0, 0, 0, 0, 259351, 0, 0, 224935, 0, 198833, 0, 499644, 266353, 228469, 0, 0, 0, 0, 398502, 679275, 471458, 0, 477127, 319315, 487913, 516341, 442017, 439970, 439970, 0, 0, 0, 0, 0, 306808, 147440, 0, 204925, 200313, 0, 0, 188843, 0, 0, 0, 215722, 0, 0, 0, 241976, 250300, 0, 0, 518938, 340163, 338306, 352514, 340446, 0, 0, 449837, 325788, 0, 0, 218856, 0, 275638, 297292, 0, 580621, 0, 0, 0, 427339, 492847, 356813, 355263, 0, 324773, 0, 0, 363109, 747449, 760879, 898223, 461187, 375689, 375689, 0, 0, 0, 0, 352128, 422878, 270059, 241416, 0, 0, 0, 0, 0, 157359, 152290, 0, 0, 0, 225626, 140304, 0, 0, 0, 169512, 211962, 211962, 243478, 0, 527318, 291662, 0, 231967, 0, 269487, 432633, 267356, 267356, 300395, 285217, 233095, 258431, 245965, 248017, 0, 493640, 456079, 313492, 269645, 0, 314105, 296218, 0, 0, 174297, 225070, 192601, 0, 0, 250836, 288128, 267042, 286021, 245520, 223751, 0, 0, 0, 0, 324420, 312635, 0, 294642, 0, 0, 0, 303381, 273424, 308593, 319652, 0, 286143, 287467, 340702, 269915, 0, 0, 274182, 0, 457407, 457407, 245844, 245844, 0, 253050, 253050, 218914, 0, 0, 0, 190176, 221084, 225437, 203777, 202900, 0, 0, 0, 0, 0, 418673, 0, 0, 211064, 0, 0, 0, 375771, 213173, 777976, 0, 363300, 622090, 0, 0, 0, 636268, 0, 428810, 0, 0, 259535, 248177, 248177, 0, 479781, 0, 227604, 158567, 0, 0, 242954, 225435, 224444, 0, 0, 258261, 0, 0, 99834, 202235, 276522, 0, 0, 313322, 0, 0, 191463, 239687, 0, 227903, 0, 241416, 0, 192841, 359358, 344611, 0, 241727, 276353, 0, 393866, 0, 544778, 0, 0, 0, 508241, 455124, 739216, 978786, 362003, 0, 370357, 754203, 330093, 0, 0, 0, 0, 0, 181498, 364542, 0, 186521, 0, 281599, 272934, 229973, 0, 0, 304936, 497497, 0, 370859, 43554, 445398, 436768, 267436, 436664, 0, 296911, 0, 0, 207240, 0, 713833, 0, 280134, 713833, 0, 0, 0, 424199, 362640, 0, 0, 0, 443638, 274826, 0, 0, 0, 0, 0, 89327, 0, 0, 0, 450278]

In [83]:
#dollar_dec = float(dollars[1:])
i = 0 
for homeCostCopy in homeCosts_copy:
    homeCosts_copy[i] = int(homeCostCopy)
    i = i+1
homeCosts_copy[0]=0

In [ ]:
data["HomeValues"] = homeCosts_copy
data

In [ ]:
#I just imported the dataframe into a small sqlite db to make it easier to query/sort relevant data (this part may not be needed)
import sqlite3
conn = sqlite3.connect('DonorList.db')
data.to_sql('DonorList', conn, if_exists='replace', index=False)
pd.read_sql('select * from DonorList', conn)